.row-cols-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  
  @media (min-width: 576px) {
    .row-cols-sm-8 > * {
      flex: 0 0 auto;
      width: 12.5%;
    }
  }
  @media (min-width: 768px) {
    .row-cols-md-8 > * {
      flex: 0 0 auto;
      width: 12.5%;
    }
  }
  @media (min-width: 992px) {
    .row-cols-lg-8 > * {
      flex: 0 0 auto;
      width: 12.5%;
    }
  }
  @media (min-width: 1200px) {
    .row-cols-xl-8 > * {
      flex: 0 0 auto;
      width: 12.5%;
    }
  }
  @media (min-width: 1400px) {
    .row-cols-xxl-8 > * {
      flex: 0 0 auto;
      width: 12.5%;
    }
  }